/* Tc Tags */
.tags {
    height: fit-content;
    max-height: 30vh;
    width: 100%;
    display: flex;
    border: 2px solid #0002;
    position: relative;
    cursor: text;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-bottom: 10px;
    padding: 10px;
    overflow-x: auto;
}

.tags .tag {
    cursor: move;
    display: inline-block;
    padding: 4px 7px;
    color: white;
    font-family: sans-serif;
    margin: 2px;
    background: var(--accent-color);
}

.tags .tag:first-child {
    margin-left: 0;
}

.tags .tag:last-child {
    margin-right: 4px;
}

.tags .tag .close-tag {
    cursor: pointer;
    font-weight: bold;
}

.tags.active {
    border-color: var(--main_color);
}

.tags .tag-text {
    color: var(--accent-color);
    border: none;
    background: transparent;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tags .tag-text:focus {
    outline: none;
}

.tag {
    margin: 3px;
    color: #fff;
    background: var(--main_color);
    padding: 11px 17px;
    -webkit-border-radius: 10px;
    border-radius: 25px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
    font-size: 12px;
    display: inline-block;
}

.tags .tag .text {
    margin: 5px;
    font-size: 15px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font-family: sans-serif;
}